Business Question: Which films attracted the most audience per screening, based on average occupancy?


Takeaway: Identifies high-performing films that consistently filled a larger portion of theater capacity, helping inform future film acquisition, marketing, and scheduling decisions. High occupancy with fewer total tickets may still indicate strong demand relative to availability.

In [1]:
import duckdb

In [2]:
conn = duckdb.connect('c:/Users/Fgllc/OneDrive/Escritorio/USC/etl_project/cinema_tickets.duckdb')
conn

MODEL 6 QUERY:

In [3]:
query = """
SELECT 
   film_code,
   AVG(occu_perc) AS avg_occupancy_per_film,
   SUM(tickets_sold) AS tot_tickets_sold
FROM master_model
GROUP BY film_code
ORDER BY avg_occupancy_per_film DESC
"""
conn.execute(query).fetchdf()

    film_code  avg_occupancy_per_film  tot_tickets_sold
0        1482               28.373278         1628821.0
1        1484               28.134077         1789357.0
2        1485               27.459730          960897.0
3        1483               26.215047         1623569.0
4        1554               25.368053         4129543.0
5        1481               24.228181         1160989.0
6        1578               23.930060          194753.0
7        1486               22.465828          184459.0
8        1471               22.381223           21552.0
9        1496               22.232557          122901.0
10       1573               19.623629          567610.0
11       1493               19.419251         1719867.0
12       1575               19.082851          152658.0
13       1576               18.760081          968888.0
14       1587               18.720024           38455.0
15       1553               17.770312          289513.0
16       1480               17.475527           55451.0
17       1572               17.316825          353376.0
18       1495               17.200162          328261.0
19       1557               16.895024           11133.0
20       1494               16.641529          545282.0
21       1569               16.386312           49489.0
22       1497               16.082818          346632.0
23       1559               16.015952          251643.0
24       1558               15.995147          280940.0
25       1511               15.960637          225614.0
26       1498               15.135065          287911.0
27       1565               15.001022            5793.0
28       1560               14.911278           40144.0
29       1556               14.868179          635816.0
30       1512               14.802460           11624.0
31       1499               14.525527          381985.0
32       1551               14.407015          157392.0
33       1552               14.204824          125114.0
34       1568               13.827572           22236.0
35       1571               13.121685           21584.0
36       1564               12.753985           32131.0
37       1492               12.356501           24509.0
38       1562               12.128158          111634.0
39       1566               11.750269           17535.0
40       1589                9.659403             812.0
41       1500                9.139779           15208.0
42       1570                7.784282            6838.0
43       1550                7.754956           17006.0
44       1563                7.599862           41137.0
45       1567                6.901053            4773.0
46       1502                6.883361            9956.0
47       1584                5.474359             176.0

CHECKING IF MODEL RUNS:

In [4]:
#checking if model runs


conn.execute('SELECT * FROM sixth_model').fetchdf()

    film_code  avg_occupancy_per_film  tot_tickets_sold
0        1482               28.373278         1628821.0
1        1484               28.134077         1789357.0
2        1485               27.459730          960897.0
3        1483               26.215047         1623569.0
4        1554               25.368053         4129543.0
5        1481               24.228181         1160989.0
6        1578               23.930060          194753.0
7        1486               22.465828          184459.0
8        1471               22.381223           21552.0
9        1496               22.232557          122901.0
10       1573               19.623629          567610.0
11       1493               19.419251         1719867.0
12       1575               19.082851          152658.0
13       1576               18.760081          968888.0
14       1587               18.720024           38455.0
15       1553               17.770312          289513.0
16       1480               17.475527           55451.0
17       1572               17.316825          353376.0
18       1495               17.200162          328261.0
19       1557               16.895024           11133.0
20       1494               16.641529          545282.0
21       1569               16.386312           49489.0
22       1497               16.082818          346632.0
23       1559               16.015952          251643.0
24       1558               15.995147          280940.0
25       1511               15.960637          225614.0
26       1498               15.135065          287911.0
27       1565               15.001022            5793.0
28       1560               14.911278           40144.0
29       1556               14.868179          635816.0
30       1512               14.802460           11624.0
31       1499               14.525527          381985.0
32       1551               14.407015          157392.0
33       1552               14.204824          125114.0
34       1568               13.827572           22236.0
35       1571               13.121685           21584.0
36       1564               12.753985           32131.0
37       1492               12.356501           24509.0
38       1562               12.128158          111634.0
39       1566               11.750269           17535.0
40       1589                9.659403             812.0
41       1500                9.139779           15208.0
42       1570                7.784282            6838.0
43       1550                7.754956           17006.0
44       1563                7.599862           41137.0
45       1567                6.901053            4773.0
46       1502                6.883361            9956.0
47       1584                5.474359             176.0

In [5]:
conn.close()